@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
}

body {
  font-family: "roc-grotesk", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@layer components {
  .title {
    font-family: "the-seasons", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .nav-btn {
    @apply flex cursor-pointer items-center justify-center select-none;
    &:active {
      opacity: 0.6;
    }
  }
  img {
    @apply select-none;
  }
  .btn {
    @apply border border-black px-4 py-2 rounded-full select-none;
    border-width: 2px;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    box-shadow: 2px 2px 0px 0px black;
    &:hover {
      @media (max-width: 640px) {
        box-shadow: 3px 3px 0px 0px black;
        transform: translate(-1px, -1px);
      }
    }
    &:active {
      box-shadow: none;
      transform: translate(2px, 2px);
      filter: brightness(0.9);
    }
  }
  .chip {
    @apply inline-flex items-center justify-center px-2 py-1 rounded-full gap-2 select-none;
  }
  .subheading {
    @apply text-xl text-orange-900 mb-2 font-[600];
  }

  .card {
    @apply border border-black px-5 py-3 rounded-3xl select-none flex relative gap-5 items-center;
    border-width: 2px;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    box-shadow: 2px 2px 0px 0px black;
    &:hover {
      @media (max-width: 640px) {
        box-shadow: 3px 3px 0px 0px black;
        transform: translate(-1px, -1px);
      }
    }
    &:active {
      box-shadow: none;
      transform: translate(2px, 2px);
      filter: brightness(0.9);
      background-color: rgba(0, 0, 0, 0.1);
    }
    & .arrow {
      @apply absolute top-0 right-0 m-4;
    }
    & .card-subtitle {
      @apply text-sm;
    }
    & .card-logo {
      @apply w-12 h-12 rounded-full;
    }
  }
}
